body{
    margin: 0;
    padding:0;
}

#span3 a {
    text-decoration: none;
    color: #ffffff;
}

#span3 {
    color: #fff;
    border: 1px solid #c1c1c1;
    font-size: 16px;
    border-radius: 4px;
    padding: 6px 6px;
    position: relative;
    bottom: 3px;
}

#span3 i {
    font-size: 16px;
    margin-right: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #313131;
}

.menu ul li a:hover {
    color: #ffffff;
}
.searchbar{
    height: 50px;
    display:none;
    margin: 0;
    padding: 0px;
    margin-left: 10px;
}
.searchbar input{
    height: 100%;
    width: 100%;
    border: 0px;
    padding-left: 2px;
    font-size: 20px;
    display: block;
    outline: none;
    padding-right: 44px;
    margin-right: 50px;
    color: #313131;
}

.slide1 {
    height: 651px;
    width: 100%;
    position: relative;
}
.imageDefond{
    height: 100%;
    width: 100%;
    background-image: url("../images/generic-hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.opacity{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}
hr{
    width: 275px;
    display: block;
}
#browseProduct{

    display: block;
    width: 200px;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(0, 90, 255);
    margin: auto;
    margin-top: 14px;
}



.contentCenter{
    position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 108px;
    margin-left: 467px;
}
#logo a img{
    width: 300px;height: 47px;
    margin-left: 87px;
}
.contentCenter h2{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    color: #fff;
    margin: 25px auto 0;
    max-width: 100%;
}
h2 span{
    margin-left: 58px;
}
.aside_container{
    position:absolute;
    right: 0;top: 0;

}

/*********************************************************/
#scrolldown{
    position:absolute ;
    bottom: 10%;
    right: 3%;
    font-size: xx-large;
    color: cornflowerblue;
}
/*******************************************************************************************/

.aside_container{
    margin-right: 40px;
    margin-top: 40px;
    position: absolute;
    right: 0;top:0;
}
#icons{
    margin-left: 116px;


}

#icons #span1 {
    margin-left: 20px;
}
#span1,#span2:hover{
    cursor: pointer;
}

#span1 {
    font-size: 25px;
    color: #313131;
}

#span2 {
    font-size: 25px;
    color: #313131;
    margin-left: 10px;
}
.menu ul li{
    list-style-type: none;
    line-height: 50px;
    font-size: 30px;
    border-bottom: dotted 1px #000000;
    color: #313131;
    font-weight: bold;
    text-align: right;
    cursor:pointer;
}
.menu ul li:hover{
    color: #ffffff;
}
.menu{
    display: none;
}



/******************************************************footer*/

.content_footer{
    height: 373px;
    background: #3e4645;
}
.content1{
    margin-right: 100px;
    margin-left: 200px;
    height: 40%;
}
.content2{
    margin-right: 100px;
    margin-left: 239px;
    margin-top: 50px;
}
.content2 h4{
    font-weight: bold;
    color: white;
    font-size: larger;
    font-family: georgia;
}
.content2 input:first-child{
    margin-right: 11px;
    font-size: 13px;
    padding: 4px 8px 3px;
    border: 0;
    min-height: 0;
    min-width: 240px;
    font-size: 15px;
    color: #818181;
    width: 224px;
    height: 25px;
    border-radius: 4px;
}
.content2 input:last-child {
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    font-family: Lato;
    border: 1px solid white;
    width: 33px;
    height: 33px;
    color: white;
    background: transparent;
}
.content1 div{
    margin-top: 40px;
    float:left;
    margin-right:100px ;

}
.content1 div ul li:first-child{
    margin-bottom: 13px;
    font-weight: bold;
    color: white;
    font-size: larger;
    font-family: georgia;
}
.content1 div ul li{
    margin-bottom: 6px;
    margin-right: 5px;
}
.content1 div ul li{
    list-style: none;
    color: #9f9f9f;
    cursor: pointer;
}
div ul li i{
    margin-right: 12px;

}
.content3{
    text-align: center;
    margin-top: 37px;

    color: #9f9f9f;
    font-family: Lato;
}


/*********************************Formulaire Inscription*****/

#formulaireInscription {
    position: absolute;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 350px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: transparent;
    margin-left: 3px;


}

#formulaire input:last-child {
    display: block;
    padding-left: 1px;
    width: 50%;
    height: 24px;
    margin: auto;

}

.formulaire {

    display: block;
    border-radius: 5px;
    padding-left: 4px;
    width: 50%;
    height: 24px;
    margin: auto;
    margin-bottom: 10px;
}

#formulaireInscription a.ouvrir {
    position: absolute;
    right: -70px;
    top: 68px;
    transform: rotate(270deg);
    border-radius: 0 0 8px 8px;
    padding: 10px 25px;
    background: #555;
    color: #fff;
    text-decoration: none;
}

#formulaireInscription a.fermer {
    position: absolute;
    right: -70px;
    top: 68px;
    transform: rotate(270deg);
    border-radius: 0 0 8px 8px;
    padding: 10px 25px;
    background: #555;
    color: #fff;
    text-decoration: none;
    display: none;
}

#formulaireInscription {
    -webkit-transition: all .5s ease-in;
    transition: all 1s ease-in;
}

#formulaireInscription_clos:target #formulaireInscription {
    left: -300px;
}



#formulaireInscription:target {
    left: 0;
}

#formulaireInscription:target a.ouvrir {
    display: none;
}

#formulaireInscription:target a.fermer {
    display: block;
}
/************************************slide2*****/
/*****************************A copier Coller***************/
.slide2 {
    height: 1050px;
}
#ProductWrapper {
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;

}
#ProductContent{
    height: 81%;
}
#ProductTitle h2{
    height: auto;
    margin-top: 20px;
    font-size: 40px;
    color: #313131;
    width: 100%;
    text-align: center;
    font-family: Lato;

}
.produit{
    height: auto;
    width: 23%;
    height: 394px;
    margin-right: 21px;
    margin-bottom: 27px;
    float: left;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

}
.produit a{
    display: block;
    margin-bottom: 12px;
}
.produit a img{
    width: 100%;
    transition: transform .5s;
}
.produit a img:hover{
    transform: scale(1.1,1.1);
}
.metas{
    width: 50%;
    float: left;
    margin-left: 5px;
}
.status {
    width: 44%;
    display: inline-block;
}
.status a{
    text-decoration: none;
    text-align: right;
    font-weight: bold;
    color: #ff555d;
    font-size: 14px;
    text-transform: uppercase;

}

.metas .title{
    color: #919191;
    font-weight: bold;
    font-size: 14px;
}
.metas .price{
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}
#browseProduct2 {
    display: block;
    width: 200px;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(0, 90, 255);
    margin: auto;
    margin-top: 14px;
}

/****************************************/
